.apply {
  display: flex !important;
  justify-content: space-evenly;
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=600");
  background-size: cover;
}
.card-title,
.card-subtitle,
.card-text {
  text-align: center;
}
.card {
  width: 260px;
}
